@import '../Global.scss';

.Mobile {
    display: none;
}

.Navbar {
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    padding:10px;
    font-family: $font-theme;
    font-weight: 600;
    background-color: $secondary-color;
    @extend %flex-box;
    justify-content: space-around;
    img {
        height: 45px;
    }
    ul {
        width: 70%;
        font-size: 0.7rem;
        list-style: none;
        @extend %flex-box;
        justify-content: space-around;
        .List {
            width: 100%;
            height: 100%;
            @extend %flex-box;
            justify-content: space-around;
            li {
                height: 60px;
                width: 100%;
                @extend %flex-box;
                justify-content: space-around;
                &:hover {
                    transition-duration: 1s;
                    background-color: $hover-color;
                }
                a {
                    @extend %flex-box;
                    width: 150px;
                    color: white;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
    &__live {
        width: 80px;
        height: 30px;
        @extend %flex-box;
        text-decoration: none;
        color: $clear-color;
        background-color: $live-button-color;
        border-radius: 10px;
    }
}
