@import '../Global.scss';

.Pastors {
    padding: 20px;
    width: 100%;
    height: auto;
    @extend %flex-box;
    flex-wrap: wrap;
    //justify-content: space-around;
    &__Img {
        width: 50%;
        height: auto;
        min-width: 250px;
        object-fit: contain;
        @extend %flex-box;
        justify-content: flex-end;
        &-pic {
            object-fit: contain;
            width: 95%;
            height: auto;
            min-width: 300px;
            max-width: 450px;
            border-radius: 15px;
            margin-right: 50px;
            box-shadow: $shadow_2;
        }
    }
    &__Container {
        order: 1;
        min-width: 350px;
        width: 50%;
        height: 50vh;
        @extend %flex-box;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px 300px 20px 20px;
        &-Title {
            color: $secondary-color;
            font-size: 1.5rem;
            padding-bottom: 10px;
            text-shadow: $shadow;
        }
        &-description {
            font-size: 0.9rem;
            text-align: justify;
        }
    }
}