@import '../Global.scss';

.Preaching {
    width: 100%;
    min-height: 500px;
    height: auto;
    @extend %flex-box;
    flex-direction: column;
    padding: 30px;
    h3 {
        color: $primary-color;
        font-size: 1.5rem;
        text-shadow: $shadow;
    }
    &__videos {
        width: 100%;
        min-height: 400px;
        height: auto;
        flex-wrap: wrap;
        @extend %flex-box;
        justify-content: space-around;
        .videito {
            padding: 30px;
            width:600px;
            height:350px;
            min-width:300px;
            min-height:100px
        }
    }
    &__button {
        width: 240px;
        height: 59px;
        background-color: $secondary-color;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        margin: 40px;
        &:hover {
            background-color: $hover-color;
        }
        a {
            text-decoration: none;
            color: $clear-color;
            font-weight: 500;
            font-style: bold;
            font-size: 0.8rem;
        }
    }
}