@import '../Global.scss';

.Purposes {
    width: 80%;
    height: auto;
    @extend %flex-box;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 40px;

    &__Title {
        font-size: 2rem;
        color: $secondary-color;
        border-bottom: 5px solid $primary-color ;
        padding: 0 40px;
        text-shadow: $shadow;
    }
    &__Container {
        width: 100%;
        min-height: 400px;
        height: auto;
        @extend %flex-box;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.Purposes__container-description {
    @extend %flex-box;
    flex-direction: column;
    width: 500px;
    min-width: 200px;
    height: auto;
    h4 {
        font-size: 1.2rem;
        color: $primary-color;
        text-shadow: $shadow;
        border-bottom: 3px solid $secondary-color;
        padding: 5px 20px;
    }
    p {
        height: auto;
        width: 500px;
        min-width: 300px;
        text-align: justify;
        font-size: 0.9rem;
        padding: 50px;
    }
}