@import '../Global.scss';

.Welcome {
    width: 100%;
    height: 50vh;
    background-color: $primary-color;
    justify-content: space-around;
    @extend %flex-box;
    .Video-presentation {
        width: 650px;
        height: 350px;
    }
    .Title {
        @extend %flex-box;
        flex-direction: column;
        h1 {
            font-size: 2.3rem;
            padding-bottom: 30px;
        }
        h2 {
            font-weight: normal;
        }
    }
}