@media only screen and (max-width: 600px) {
    .Welcome {
        padding: 20px;
        .Title {
            text-align: center;
            h1 {
                padding-top: 40px;
                font-size: 1rem;
            }
            h2 {
                font-size: 0.8rem;
            }
        }
    }

    .Services {
        text-align: center;
        &__schedule {
            padding: 20px;
        }
    }

    .Service__schedule-description {
        padding: 30px;
    }
    .Information {
        text-align: center;
        h2 {
            font-size: 1.7rem;
            height: 150px;
        }
        p {
            width: 85%;
            font-size: 1.1rem;
            text-align: center;
        }
    }

    .MiniHero {
        height: 500px;
        &__Img {
            height: 500px;
        }
    }

    .Purposes {
    padding: 20px;
        &__Title {
            text-align: center;
            padding: 0;
        }
    }
    .Purposes__container-description {
        margin-top: 40px;
        padding: 0;
        h4 {
            font-size: 1.5rem;
        }
        p {
            width: 100%;
            padding: 30px 0;
        }
    }
    .Pastors {
        width: 100%;
        height: auto;
        //justify-content: space-around;
        &__Img {
            justify-content: center;
            &-pic {
                margin: 0;
            }
        }
        &__Container {
            padding: 0;
            margin-top: 30px;
            &-Title {
                text-align: center;
            }
            &-description {

            }
        }
    }
}


